---
import ToggleTheme from "./ToggleTheme.astro"
import ToggleLanguage from './ToggleLanguage.astro'

import { getLangFromUrl, useTranslations } from '@/i18n/utils' 
import { UI_NAV_KEYS } from '@/i18n/navUi'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

// TODO: To check en URL nav links and redirect if needed. Error: I redirect automatically to en/ and it causes a 404
const {about, contact, projects} = UI_NAV_KEYS
const navItems = [
  {
    title: t(projects),
    label: t(projects),
    url: `/${lang}/#projects`
  },
  {
    title: t(about),
    label: t(about),
    url: `/${lang}/#about`
  },
  {
    title: t(contact),
    label: t(contact),
    url: `/${lang}/#contact`
  }
]
---

<header class="fixed top-0 right-0 left-0 z-10 flex flex-row flex-1 justify-around items-center container-sm py-5 bg-neutral-950 text-white font-medium">
  <div class="spacer"></div>

  <nav class="flex flex-row gap-x-10 opacity-80 hover:*:text-blue-400 dark:hover:*:text-blue-300 *:transition-colors">
   {
    navItems.map(({title, label, url}) => (
      <a href={url} aria-label={label}> {title} </a>
    ))
   }
  </nav>
  
  <div class="flex flex-row align-center justify-center gap-x-8 relative left-2 sm:gap-x-10"> 
    <ToggleTheme />

    <ToggleLanguage />
  </div>
</header>